$break-size: 640px;


.inform__container {
    width: 100%;
    height: 0;
    position: fixed;
    bottom: 0;
    z-index: 77;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.25s ease all;
}

    .inform__notification {
        backface-visibility: hidden;
        transform: translate(0, 0);
        transition: all ease 0.5s;
        margin-top: -58px;
        height: 48px;
        max-width: 100%;
        font-size: 13px;
        background-color: #323232;
        color: #FFF;
        border-radius: 2px;
        line-height: 24px;
        box-shadow: 0 0 5px rgba(#000, 0.5);
        cursor: default;
        display: flex;
        align-items: center;
        
        &.transition {
            transform: translate(0, 60px);
            pointer-events: none;
        }
        
        @media screen and (max-width: $break-size) {
            margin-top: -48px;
            border-radius: 0;
        }
    }
    
    .inform__notification--warn {
        background-color: #906608;
    }
    
    .inform__notification--error {
        background-color: #B00;
    }
    
    .inform__notification--with-title {
        height: 86px;
        margin-top: -96px;
        
        &.transition {
            transform: translate(0, 108px);
        }
        
        @media screen and (max-width: $break-size) {
            margin-top: -86px;
        }
        
        .inform__textContent {
            padding-top: 8px;
        }
        
        .inform__button {
            margin-right: 22px;
        }
    }
    
        .inform__textTitle {
            display: block;
            padding: 12px 24px 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
            position: relative;
            
            &::after {
                content: ' ';
                border-bottom: 1px solid rgba(#FFF, 0.5);
                position: absolute;
                bottom: 0;
                left: 24px;
                right: 24px;
                height: 0;
            }
        }
    
        .inform__textContent {
            flex: 1;
            display: block;
            padding: 12px 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        .inform__button {
            border: none;
            background-color: transparent;
            margin-left: 36px;
            color: #3F3;
            position: relative;
            z-index: 0;
            border-radius: 2px;
            overflow: hidden;
            height: 40px;
            padding: 0 12px;
            margin: 4px;
            text-transform: uppercase;
            
            &::after {
                content: " ";
                background-color: #434343;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 300%;
                padding-bottom: 300%;
                border-radius: 50%;
                transition: all 1s;
                opacity: 0;
                z-index: -1;
            }
            
            &:active::after {
                transition: 0s;
                opacity: 1;
                transform: translate(-50%, -50%);
                width: 0%;
                padding-bottom: 0%;
                
            }
        }